.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.board{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.row{
    display: flex;
}

.block {
    position: relative;
    width: 12.5%;
    height: 10.5vh;
    background-color: cornflowerblue;
    border: 1px solid #333;
    box-sizing: border-box;
}

.ghostImgSmall {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 1;
}

.capturedPiecesTop .ghostImg,
.capturedPiecesBottom .ghostImg {
    flex: none; 
    width: 12.5%; 
    height: 12.5%; 
}

.rotate{
    transform: rotate(180deg);
}


/* For smartphones */
@media screen and (max-width: 767px) {
    .block {
        height: 8.5vh;
        }
    .capturedPiecesTop,
    .capturedPiecesBottom{
        background-color: bisque;
        height: 16vh;
        width: 100%;
        }
}

/* For tablets */
@media screen and (min-width: 768px) and (max-width: 912px) {
    .block {
        height: 10vh;
        }
    .capturedPiecesTop,
    .capturedPiecesBottom{
        background-color: bisque;
        height: 11vh;
        width: 100%;
        }
}

/* For PCs(Laptop) */
@media screen and (min-width: 913px) and (max-width: 1024px) {
    .container{
        height: 115vh;
    }
    .board{
        width: 50vw;
    }
    .capturedPiecesBottom, .capturedPiecesTop{
        background-color: bisque;
        width: 50vw;
    }
}
/* For PCs(Desktop) */
@media screen and (min-width: 1025px) {
    .container{
        height: 115vh;
    }
    .board{
        width: 45vw;
    }
    .capturedPiecesBottom, .capturedPiecesTop{
        background-color: bisque;
        width: 45vw;
    }
}

.dFlex{
    display: flex;
    justify-content: center;
}
