option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: boardGameProject/wsgi.py
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: boardGameProject.settings
    PYTHONPATH: "/opt/python/current/app/backend:$PYTHONPATH"
